<!DOCTYPE html>
<html>
<head>
    <title>SIT722 Glossary</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            text-align: center;
            border: 2px solid black;
        }
        th, td {
            border: 2px solid black;
            padding: 8px;
        }
        th:nth-child(3),
        td:nth-child(3) {
            width: 40%;
        }
        th:nth-child(4),
        td:nth-child(4) {
            width: 20%;
        }
    </style>
</head>
<body>
    <h1><%= title %></h1>
    <p><%= sub %></p>
    <table>
        <tr>
            <th>ID#</th>
            <th>Term</th>
            <th>Description</th>
            <th>References</th>
        </tr>
        <% for (let entry of glossaryData) { %>
        <tr>
            <td><%= entry.ID %></td>
            <td><%= entry.Term %></td>
            <td><%= entry.Description %></td>
            <td><%= entry.References %></td>
        </tr>
        <% } %>
    </table>
</body>
</html>
